.message, .blink{
  padding-top: 10%;
  font-size: 30pt;
}

.blink{
  animation:blinkingText 1.2s infinite;
}

@keyframes blinkingText{
  0%{     color: #000;    }
  49%{    color: #000; }
  60%{    color: transparent; }
  99%{    color:transparent;  }
  100%{   color: #000;    }
}


.listWrapper{
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fileListTable {
  margin-top: 25px;
  width: 90%;
  text-align: left;
  border-collapse: collapse;
}

.fileListTable thead th{
  border-bottom: 2px solid black;
}

.fileListTable tbody tr:nth-of-type(odd){
  background: #f2f2f2;
}

.fileListTable td, .fileListTable th{ 
  padding: 10px 5px; 
  border: 1px solid #eee;
}

.fileListTable th:nth-child(1){
  width: 15%;
}

.fileListTable th:nth-child(2){
  width: 20%;
}

.fileListTable th:nth-child(3){
  width: 20%;
}

.fileListTable th:nth-child(4){
  width: 45%;
}
